@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: rgba(62, 50, 50, 1);
    --secondary: rgba(80, 60, 60, 1);
    --ternary: rgba(126, 99, 99, 1);
    --title: rgba(2, 2, 2, 1);
    --text-button: rgba(223, 206, 206, 1);
    --button: linear-gradient(90deg, #3E3232 0%, #514242 19%, #A48484 100%);
    --font: "Poppins", sans-serif;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: var(--font);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
    padding: 2.5rem;
    color: var(--title);
    border-bottom: solid 1px var(--text-button);
}

nav>div {
    flex: 1;
}

nav>ul {
    display: flex;
    list-style: none;
    flex: 3;
    align-items: center;
    justify-content: space-evenly;
}

.logo>img {
    width: 10rem;
}

nav>ul>li>a {
    text-decoration: none;
    color: var(--title);

}

nav>ul>li>a:hover {
    color: #A48484;
    transition: all .2s ease-in;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button>button {
    width: 12rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-button);
    background: var(--button);
}

.hero {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-text {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.8rem;
    gap: 3rem;
    padding: 0rem 2rem;
}

.hero-text>h1 {
    font-size: 4rem;
}

.hero-text>p {
    width: 80%;
    font-size: 2rem;
}


.hero-text>button {
    height: 6rem;
    width: 75%;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-button);
    background: var(--button);
}

.hero-img {
    flex: 1;
    background-image: url(../img/bg.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.award {
    width: 100%;
    height: 80%;
    display: flex;
    padding: 0 2rem;
    align-items: center;
    gap: 2rem;
}

.award-img {
    flex: 2;
    width: 100%;
    height: 100%;
    background-image: url(../img/award.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.award-text {
    flex: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.award-text>h1 {
    font-size: 4rem;

}

.award-text>p {
    font-size: 2rem;
    width: 80%;
}

.chiffres {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 60%;
    background-color: var(--primary);
    color: white;
    margin: 1rem 0;
}

.chiffres_>h1 {
    font-size: 4rem;
    font-weight: bold;
    
}

.chiffres_>p {
    font-size: 2rem;
    
}